*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

/*  Typography */

h1 {
    text-align: center;
    margin: 50px 0;
}

/* Main */

#app {
    height: 800px; /*!debug per check loop*/
}

.slider{
    position: relative;
}

.slider .gallery-image {
    height: 500px;
}

.slider .gallery-image img {
    height: 100%;
    width: 100%;
    object-fit: cover /*!permette funzionalità simile se la impostassi come bg */
}

/* Arrow  direction */

.next,
.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    transition: background-color .4s;
}

.next {
    right: 10px;
}
.prev {
    left: 10px;
}

.next:hover,
.prev:hover {
    background: black;
}


/*  Circle Selection */

.nav-circle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
    padding: 0 10px;
    transition: color .4s;
}

.nav-circle i {
    cursor: pointer;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    transition: color 0.4;
}

.nav-circle i:hover {
    color: white;
}

.nav-circle i.active {
    color: DodgerBlue;
}